{
  "development": {
    "username": "root",
    "password": null,
    "database": "rv_mms_1",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "operatorsAliases": false,
    "launchPort": 8080
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "rv_mms_production",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "operatorsAliases": false,
    "launchPort": 80
  }
}
